<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ability Value</title>
    <style>
      table {
        width: 50%;
        margin: 50px auto;
        border-collapse: collapse;
      }
      table,
      th,
      td {
        border: 1px solid black;
      }
      th,
      td {
        padding: 10px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1 style="text-align: center">Current Ability Value</h1>
    <table>
      <tr>
        <th>Ability Value</th>
        <td>{{ ability_value }}</td>
      </tr>
    </table>
  </body>
</html>
