<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Overview</title>
    <meta http-equiv="refresh" content="5" />
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 20px;
        background-color: #f4f4f9;
        color: #333;
      }

      h1 {
        text-align: center;
        color: #4caf50;
      }

      table {
        width: 80%;
        margin: 20px auto;
        border-collapse: collapse;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      th,
      td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center;
      }

      th {
        background-color: #4caf50;
        color: white;
      }

      tr:nth-child(even) {
        background-color: #f9f9f9;
      }

      tr:hover {
        background-color: #f1f1f1;
      }
    </style>
  </head>
  <body>
    <h1>Game Flags Dashboard</h1>

    <!-- Game Flags Table -->
    <table>
      <thead>
        <tr>
          <th>Game Flag</th>
          <th>Value</th>
          <th>State</th>
        </tr>
      </thead>
      <tbody>
        <!-- Calm Calibration -->
        <tr>
          <td>Calm Calibration</td>
          <td>{{ game_flags_values[0] }}</td>
          <td>
            {% if not calibration_done[0] and (state == "WAITING" or state ==
            "TESTING")%} Waiting {% elif not calibration_done[0] and state ==
            "CALM_CALIBRATION" %} Running {% else %} Done {% endif %}
          </td>
        </tr>

        <!-- Stressed Calibration -->
        <tr>
          <td>Stressed Calibration 1</td>
          <td>{{ game_flags_values[1] }}</td>
          <td>
            {% if not calibration_done[0] %} - {% elif not calibration_done[1]
            and state == "CALM_CALIBRATION" %} Waiting {% elif not
            calibration_done[1] and state == "STRESSED_CALIBRATION_1" %} Running
            {% else %} Done {% endif %}
          </td>
        </tr>

        <!-- Stressed Calibration 2 -->
        <tr>
          <td>Stressed Calibration 2</td>
          <td>{{ game_flags_values[2] }}</td>
          <td>
            {% if not calibration_done[1] %} - {% elif not calibration_done[2]
            and state == "STRESSED_CALIBRATION_1" %} Waiting {% elif not
            calibration_done[2] and state == "STRESSED_CALIBRATION_2" %} Running
            {% else %} Done {% endif %}
          </td>
        </tr>

        <!-- Stressed Calibration 3-->
        <tr>
          <td>Stressed Calibration 3</td>
          <td>{{ game_flags_values[3] }}</td>
          <td>
            {% if not calibration_done[2] %} - {% elif not calibration_done[3]
            and state == "STRESSED_CALIBRATION_2" %} Waiting {% elif not
            calibration_done[3] and state == "STRESSED_CALIBRATION_3" %} Running
            {% else %} Done {% endif %}
          </td>
        </tr>

        <!-- Data Analysis -->
        <tr>
          <td>Data Analysis</td>
          <td>{{ game_flags_values[4] }}</td>
          <td>
            {% if not calibration_done[3] %} - {% elif state ==
            "STRESSED_CALIBRATION_3" %} Waiting {% else %} Running {% endif %}
          </td>
        </tr>

        <!-- Ability -->
        <tr>
          <td>Ability</td>
          <td>{{ game_flags_values[5] }}</td>
          <td>
            {% if state != "DATA_ANALYSIS" %} - {% elif game_flags_values[5] ==
            1 %} Activated {% else %} Deactivated {% endif %}
          </td>
        </tr>
        <!-- State -->
        <tr>
          <td>Server State</td>
          <td colspan="2">{{ state }}</td>
        </tr>
      </tbody>
    </table>

    <h1>Analysis Results Dashboard</h1>
    <!-- Analysis Results Table -->
    <table>
      <thead>
        <tr>
          <th>Analysis Metric</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <!-- Current HRV -->
        <tr>
          <td>Current HRV</td>
          <td>
            {% if state == "DATA_ANALYSIS" and results.current_hrv is defined
            and results.current_hrv is not none %} {{ results.current_hrv |
            round(3) }} {% else %} - {% endif %}
          </td>
        </tr>

        <!-- Binary Value -->
        <tr>
          <td>Binary Value</td>
          <td>
            {% if state == "DATA_ANALYSIS" and results.binary_output is defined
            and results.binary_output is not none %} {{ results.binary_output }}
            {% else %} - {% endif %}
          </td>
        </tr>

        <!-- Threshold -->
        <tr>
          <td>Threshold</td>
          <td>
            {% if baselines[4] is defined and baselines[4] is not none %} {{
            baselines[4] | round(3) }} {% else %} - {% endif %}
          </td>
        </tr>

        <!-- Best Ability Number -->
        <tr>
          <td>Best Ability Index</td>
          <td>
            {% if state == "DATA_ANALYSIS" and results.best_ability_index is
            defined and results.best_ability_index is not none %} {{
            results.best_ability_index }} {% else %} - {% endif %}
          </td>
        </tr>

        <!-- Best Ability Value -->
        <tr>
          <td>Best Ability HRV</td>
          <td>
            {% if state == "DATA_ANALYSIS" and results.best_ability_hrv is
            defined and results.best_ability_hrv is not none %} {{
            results.best_ability_hrv }} {% else %} - {% endif %}
          </td>
        </tr>

        <!-- Calm Baseline -->
        <tr>
          <td>Calm Baseline</td>
          <td>
            {% if baselines[0] is defined and baselines[0] is not none %} {{
            baselines[0] | round(3) }} {% else %} - {% endif %}
          </td>
        </tr>

        <!-- Stressed Baseline -->
        <tr>
          <td>Stressed Baseline 1</td>
          <td>
            {% if baselines[1] is defined and baselines[1] is not none %} {{
            baselines[1] | round(3) }} {% else %} - {% endif %}
          </td>
        </tr>

        <!-- Stressed Baseline 2-->
        <tr>
          <td>Stressed Baseline 2</td>
          <td>
            {% if baselines[2] is defined and baselines[2] is not none %} {{
            baselines[2] | round(3) }} {% else %} - {% endif %}
          </td>
        </tr>

        <!-- Stressed Baseline 3-->
        <tr>
          <td>Stressed Baseline 3</td>
          <td>
            {% if baselines[3] is defined and baselines[3] is not none %} {{
            baselines[3] | round(3) }} {% else %} - {% endif %}
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
